body {
  font-family: "roboto", "noto", sans-serif;
}

/* Header CSS start here */

header {
  margin-top: 22px;
  width: 100%;
}

header h3 {
  margin-right: 46%;
  letter-spacing: 5px;
  align-content: center;
  display: inline;
  font-size: 15px;
}

.logo {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
  margin-bottom: -25px;
}

a {
  text-decoration: none;
  color: black;
}

nav {
  margin-top: 50px;
  margin-bottom: 10px;
  font-size: 13px;
  text-align: center;
}

#cart {
  border-radius: 50%;
  top: -5px;
  right: -5px;
  height: 35px;
  width: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#cart img {
  height: 20px;
  width: 20px;
}

#cart:active {
  background-color: lightgray;
}

ul li {
  list-style: none;
  display: inline;
}

ul li:active {
  background-color: lightgray;
  border-bottom: 2px solid #555555;
}

/* header CSS end here*/

/* middle body CSS start here */

#middle {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

section {
  margin-bottom: 50px;
}

#middle p {
  font-size: 17px;
  margin-top: 35px;
  margin-bottom: 35px;
}

.product {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#t_shirts {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#t_shirts img {
  width: 720px;
  height: 310px;
}

button {
  height: 40px;
  width: 175px;
  background-color: white;
  color: black;
  border: 2px solid #555555;
  font-size: 15px;
  cursor: pointer;
}

button:active {
  color: white;
  background-color: black;
}

/* middle body CSS end here*/

/* footer CSS start here */

#footer {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 45px;
  font-size: 15px;
  color: gray;
}

#footer a {
  font-size: 12px;
  color: gray;
}

#footer div {
  display: flex;
  color: white;
  margin-top: 10px;
  background-color: black;
  width: 100px;
  height: 30px;
  justify-content: center;
  align-items: center;
}

/* footer CSS end here */
