body {
  font-family: "roboto", "noto", sans-serif;
}

/* header CSS started here*/

header {
  margin-top: 22px;
  width: 100%;
}

header h3 {
  margin-right: 48%;
  letter-spacing: 5px;
  align-content: center;
  display: inline;
  font-size: 15px;
}

.logo {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
  margin-bottom: -25px;
}

a {
  text-decoration: none;
  color: black;
}

#cart {
  border-radius: 50%;
  top: -5px;
  right: -5px;
  height: 35px;
  width: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#cart img {
  height: 20px;
  width: 20px;
}

#cart:active {
  background-color: lightgray;
}

nav {
  margin-top: 50px;
  margin-bottom: 10px;
  font-size: 13px;
  text-align: center;
}

#active_nav {
  border-bottom: 2px solid #555555;
}

a {
  text-decoration: none;
  color: black;
}

ul li {
  list-style: none;
  display: inline;
}

ul li:active {
  background-color: lightgray;
  border-bottom: 2px solid #555555;
}

/* header CSS end here */

/* middle section CSS started here */

.middle {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

section {
  margin-bottom: 30px;
}

#outerwears {
  padding-top: 15px;
}

.container {
  width: 1450px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.container div {
  margin: 50px;
}

.des {
  font-size: 14px;
  font-weight: bold;
  margin-top: 70px;
  margin-bottom: 0px;
}

.price {
  color: gray;
  font-size: 13px;
  font-weight: normal;
  top: 0px;
}

.container img {
  margin-top: -60px;
}

/* middle section CSS ended here */

/* footer CSS started here */

#footer {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 45px;
  font-size: 15px;
  color: gray;
}

#footer a {
  font-size: 12px;
  color: gray;
}

#footer div {
  display: flex;
  color: white;
  margin-top: 10px;
  background-color: black;
  width: 100px;
  height: 30px;
  justify-content: center;
  align-items: center;
}

/* footer CSS end here */
