body {
  font-family: "roboto", "noto", sans-serif;
}

/* header CSS started here */

header {
  margin-top: 22px;
  width: 100%;
}

.logo {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
  margin-bottom: -25px;
}

header h3 {
  margin-right: 48%;
  letter-spacing: 5px;
  align-content: center;
  display: inline;
  font-size: 15px;
}

a {
  text-decoration: none;
  color: black;
}

nav {
  margin-top: 50px;
  margin-bottom: 10px;
  font-size: 13px;
  text-align: center;
}

nav li {
  list-style: none;
  display: inline;
}

.active_nav {
  border-bottom: 2px solid #555555;
}

#cart {
  border-radius: 50%;
  top: -5px;
  right: -5px;
  height: 35px;
  width: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#cart img {
  height: 20px;
  width: 20px;
}

#cart:active {
  background-color: lightgray;
}

/* header CSS ended here */

.container {
  margin-top: 75px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.product_details {
  height: 600px;
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.des {
  font-size: 24px;
  font-weight: 500;
  line-height: 28px;
}

.price {
  color: gray;
  margin-bottom: 30px;
}

.select_option {
  height: 30px;
  width: 400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 2px black;
}

.select_option select {
  font-size: 17px;
  width: 300px;
  background-color: transparent;
  border: none;
}

.images {
  margin-right: 75px;
}

hr {
  border: 0.5px solid lightgray;
}

.desc {
  margin-top: -10px;
  color: gray;
  font-size: 13px;
}

.lab {
  color: gray;
  font-size: 12px;
}

button {
  height: 40px;
  width: 175px;
  background-color: white;
  color: black;
  border: 2px solid #555555;
  font-size: 15px;
  cursor: pointer;
  margin-top: 20px;
}

button:active {
  color: white;
  background-color: black;
}

/* footer CSS started here */

#footer {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 45px;
  font-size: 15px;
  color: gray;
  margin-top: 250px;
}

#footer a {
  font-size: 12px;
  color: gray;
}

#footer div {
  display: flex;
  color: white;
  margin-top: 10px;
  background-color: black;
  width: 100px;
  height: 30px;
  justify-content: center;
  align-items: center;
}

/* footer CSS ended here */
