body {
  font-family: "roboto", "noto", sans-serif;
}

/* header part css */

header {
  margin-top: 22px;
  width: 100%;
}

/* SHOP logo CSS */

.logo {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
  margin-bottom: -25px;
}

header h3 {
  margin-right: 46%;
  letter-spacing: 5px;
  align-content: center;
  display: inline;
  font-size: 15px;
}

/* cart css start here  */

#cart {
  border-radius: 50%;
  top: -5px;
  right: -5px;
  height: 35px;
  width: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#cart img {
  height: 20px;
  width: 20px;
}

#cart:active {
  background-color: lightgray;
}

/* navigation bar css */

nav {
  margin-top: 50px;
  margin-bottom: 10px;
  font-size: 13px;
  text-align: center;
}

a {
  text-decoration: none;
  color: black;
}

/*------ header css over here */

.middle {
  display: flex;
  flex-direction: column;
  align-items: center;
}

td {
  padding-right: 40px;
  padding-left: 40px;
}

tr {
  height: 90px;
}

#myCart {
  margin-top: 90px;
  font-size: 17px;
}

img {
  height: 72px;
  width: 72px;
}

#item_qty {
  margin-top: -10px;
  font-size: 13px;
  color: gray;
}

.pro_details {
  font-size: 13px;
  color: gray;
}

#cart_products {
  margin-top: 30px;
}

.cross_image {
  height: 12px;
  width: 12px;
}

.name {
  font-size: 12px;
}

.name_block {
  width: 250px;
  align-items: center;
}

.product_image {
  padding-right: 35px;
}

.pro {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 400px;
  align-items: center;
}

select {
  border: none;
  background-color: transparent;
  color: grey;
  font-size: 17px;
}

.total {
  margin-top: 30px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.tot_price,
.tot_name {
  margin-right: 50px;
  font-weight: bold;
  font-size: 12px;
}

button {
  height: 40px;
  width: 175px;
  background-color: white;
  color: black;
  border: 2px solid #555555;
  font-size: 15px;
  cursor: pointer;
  margin-right: 35px;
}

button:active {
  color: white;
  background-color: black;
}

/* footer CSS */

#footer {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 45px;
  font-size: 15px;
  color: gray;
  margin-top: 600px;
}

#footer a {
  font-size: 12px;
  color: gray;
}

#footer div {
  display: flex;
  color: white;
  margin-top: 10px;
  background-color: black;
  width: 100px;
  height: 30px;
  justify-content: center;
  align-items: center;
}

/* footer CSS over here */
