body {
  font-family: "roboto", "noto", sans-serif;
}

/* header part css */

header {
  margin-top: 22px;
  width: 100%;
}

/* SHOP logo CSS */

.logo {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
  margin-bottom: -25px;
}

header h3 {
  margin-right: 46%;
  letter-spacing: 5px;
  align-content: center;
  display: inline;
  font-size: 15px;
}

/* cart css start here  */

#cart {
  border-radius: 50%;
  top: -5px;
  right: -5px;
  height: 35px;
  width: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#cart img {
  height: 20px;
  width: 20px;
}

#cart:active {
  background-color: lightgray;
}

/* navigation bar css */

nav {
  margin-top: 50px;
  margin-bottom: 10px;
  font-size: 13px;
  text-align: center;
}

a {
  text-decoration: none;
  color: black;
}

/*------ header css over here */

.middle {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.all_forms {
  display: flex;
  flex-direction: row;
}

.form1,
.form2 {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 410px;
  height: 625px;
}

.form2 {
  margin-left: 90px;
  height: 550px;
}

#checkout {
  margin-top: 90px;
  font-size: 17px;
}

#some_text {
  margin-top: -10px;
  font-size: 13px;
  color: gray;
}

.input_text {
  border: none;
  border-bottom: 2px solid lightgray;
  color: gray;
  font-size: 17px;
  width: 410px;
  padding-bottom: 5px;
  font-weight: 300;
  border-width: 200;
}

#city,
#state {
  width: 48%;
}

#cvv {
  width: 131px;
}

select {
  border: none;
  background-color: transparent;
  border-bottom: 2px solid lightgray;
  height: 35px;
  color: black;
  font-size: 17px;
  letter-spacing: -4;
  font-weight: 300;
}

.month_and_year {
  width: 131px;
}

#country {
  width: 410px;
}

.label {
  font-weight: bold;
  font-size: 13px;
}

.des {
  font-size: 13px;
}

.expiry {
  margin-top: 20px;
}

table {
  margin-top: -20px;
}

.price {
  width: 190px;
  text-align: end;
}

button {
  height: 40px;
  width: 175px;
  background-color: white;
  color: black;
  border: 2px solid #555555;
  font-size: 15px;
  cursor: pointer;
  margin-right: 35px;
}

button:active {
  color: white;
  background-color: black;
}

/* footer CSS */

#footer {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 45px;
  font-size: 15px;
  color: gray;
  margin-top: 600px;
}

#footer a {
  font-size: 12px;
  color: gray;
}

#footer div {
  display: flex;
  color: white;
  margin-top: 10px;
  background-color: black;
  width: 100px;
  height: 30px;
  justify-content: center;
  align-items: center;
}

/* footer CSS over here */
